* {
  box-sizing: border-box;
}

header {
  background-color: lightgray;
  display:flex;
  justify-content: center;
}

nav {
  display: flex;
  width: 960px;

}
ul {
  display: flex;
  width: 760px;
  justify-content: space-around;
  align-items: center;
}

h3 {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  width: 960px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer {
  background-color: lightgray;
  height: 100px;
}

main img {
  margin-bottom: 30px;
}

article {
  width: 450px;
}

article section {
  height: 320px;
  overflow: auto;
}

a{
  color: white;
}

article > a {
  display:inline-block;
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}